.logoNombre{
    display: flex;
    padding-left: 20px;
}

.headerContainer{
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
    display: flex;
}

.inputGroup{
    margin-left: 300px;
    
}

.headerInput{
    width: 250px;
}